<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th>Qty</th>
      <th>Stock</th>
      <th><md-icon>add</md-icon>/<md-icon>remove</md-icon></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of menuItems">
      <td>{{ item.description }}</td>
      <td>{{ currentOrder.get(item.menuId, 0) }}</td>
      <td>{{ item.stock }}</td>
      <td>
        <button md-icon-button color="primary"
          (click)="itemAdded.emit({ tableId: tableId, menuId: item.menuId })">
          <md-icon>add_circle</md-icon>
        </button>
        <button md-icon-button color="primary"
          (click)="itemRemoved.emit({ tableId: tableId, menuId: item.menuId })">
          <md-icon>remove_circle</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>