* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0, 0,0, 0.54);
}

md-sidenav-layout {
  background: rgba(0, 0,0, 0.03);
}

.grid-container {
  margin: 5px;
  height: 100%;
}

.grid-container > md-grid-list {
  height: inherit;  
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  height: inherit;
}

.card-container tb-table {
  width: 50%;
}
