* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0, 0,0, 0.54);
}

md-sidenav-layout {
  background: rgba(0, 0,0, 0.03);
}

md-card {
  box-sizing: border-box;
  margin: 16px;
}

.grid-container {
  /*
  display: flex;
  flex-flow: row wrap;
  */
  padding: 5px;
  background: l
}