* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0, 0,0, 0.54);
}

md-sidenav-layout {
  background: rgba(0, 0,0, 0.03);
}

md-card {
  box-sizing: border-box;
  margin: 16px;
}

.grid-container {
  padding: 5px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card-container > md-card {
  margin-bottom: 4px;
  margin-right: 4px;
}