<md-sidenav-layout fullscreen>
  <!-- sidenav -->
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <!-- toolbar -->
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Material Brunch
  </md-toolbar>

  <!-- container -->
  <div class="grid-container">

    <!--   
    <md-card>
      <md-card-title>Queque</md-card-title>
    </md-card>
    -->

    <!--
    <md-grid-list cols="6" rowHeight="100px">
      <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
        [style.background]="tile.color">
        {{tile.text}}
      </md-grid-tile>
    </md-grid-list>
    -->
    
    <md-grid-list cols="6" rowHeight="100px">

      <!-- Lineup -->
      <md-grid-tile colspan="2" rowspan="2" style.background="lightblue">
        <tb-lineup
          [lineup]="lineup$ | async"
          (partyJoined)="_lineupActions.joinLine($event)"
          (partyLeft)="_lineupActions.leaveLine($event)">
        </tb-lineup>
      </md-grid-tile>

      <!-- Tables
      <md-grid-tile 
        *ngFor="let table of tables$ | async"
        colspan="2" rowspan="1">
        <tb-table
          [table]="table"
          [parties]="lineup$"
          (seatParty)="_tableActions.seatParty($event)">

          <button
            md-button-raised           
            *ngIf="table.status === 'OCCUPIED'"
            (click)="_tableActions.startOrder(table.id)">
            Start Order
          </button>

          <button
            md-button-raised
            *ngIf="table.status === 'ORDERED'"
            (click)="_tableActions.deliverOrder(table.id)">
            Deliver
          </button>

          <button
            md-button-raised
            *ngIf="table.status === 'HAS_FOOD'"
            (click)="_tableActions.payBill(table.id)">
            Pay Bill
          </button>

          <button
            md-button-raised
            *ngIf="table.status === 'DIRTY'"
            (click)="_tableActions.cleanTable(table.id)">
            Clean Table
          </button>

          <template [ngIf]="table.status === 'ORDERING'">
            <tb-menu
              *ngIf="table.status === 'ORDERING'"
              [menuItems]="menu$ | async"
              [tableId]="table.id"
              [currentOrder]="table.order"
              (itemAdded)="_tableActions.addItemToOrder($event)"
              (itemRemoved)="_tableActions.removeItemFromOrder($event)">
            </tb-menu>

            <button
              md-button-raised
              (click)="_tableActions.completeOrder(table.id)">
              Complete Order
            </button>
          </template>

        </tb-table>

      </md-grid-tile>
      -->

      <!-- Old Tables -->
      <md-grid-tile *ngFor="let table of tables" colspan="2" rowspan="1" [style.background]="table.color">
        <md-card>
          <md-card-title>{{table.title}}</md-card-title>
        </md-card>
      </md-grid-tile>
      
      <!-- Pending Orders -->
      
      
      <!-- Inventory -->

    </md-grid-list>

  </div>
</md-sidenav-layout>