<md-sidenav-layout fullscreen>
  <!-- sidenav -->
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <!-- toolbar -->
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Material Brunch
  </md-toolbar>

  <!-- container -->
  <div class="grid-container">

    <md-grid-list cols="6" rowHeight="fit">

      <!-- Lineup -->
      <md-grid-tile colspan="2">
        <tb-lineup
          [lineup]="lineup$ | async"
          (partyJoined)="_lineupActions.joinLine($event)"
          (partyLeft)="_lineupActions.leaveLine($event)">
        </tb-lineup>
      </md-grid-tile>

      <md-grid-tile colspan="4">
        <div class="card-container">
          <tb-table *ngFor="let table of tables$ | async"
            [table]="table"
            [parties]="lineup$"
            (seatParty)="_tableActions.seatParty($event)">
  
            <button
              md-raised-button color="accent"
              *ngIf="table.status === 'OCCUPIED'"
              (click)="_tableActions.startOrder(table.id)">
              Start Order
            </button>
  
            <button
              md-raised-button color="accent"
              *ngIf="table.status === 'ORDERED'"
              (click)="_tableActions.deliverOrder(table.id)">
              Deliver
            </button>
  
            <button
              md-raised-button color="accent"
              *ngIf="table.status === 'HAS_FOOD'"
              (click)="_tableActions.payBill(table.id)">
              Pay Bill
            </button>
  
            <button
              md-raised-button color="accent"
              *ngIf="table.status === 'DIRTY'"
              (click)="_tableActions.cleanTable(table.id)">
              Clean Table
            </button>
  
            <template [ngIf]="table.status === 'ORDERING'">
              <tb-menu
                *ngIf="table.status === 'ORDERING'"
                [menuItems]="menu$ | async"
                [tableId]="table.id"
                [currentOrder]="table.order"
                (itemAdded)="_tableActions.addItemToOrder($event)"
                (itemRemoved)="_tableActions.removeItemFromOrder($event)">
              </tb-menu>
  
              <button
                md-raised-button color="accent"
                (click)="_tableActions.completeOrder(table.id)">
                Complete Order
              </button>
            </template>
          </tb-table>
        </div>
      </md-grid-tile>

      <!-- Pending Orders -->
      <md-grid-tile colspan="3">
         <md-card>
           <md-card-title>Pending Orders</md-card-title>
           <md-card-content>
            <tb-orders
              *ngFor="let tableOrder of placedOrders$ | async"
              [order]="tableOrder"
              (itemAdded)="_tableActions.addItemToOrder($event)"
              (itemRemoved)="_tableActions.removeItemFromOrder($event)"
              (deliverOrder)="_tableActions.deliverOrder($event)">
            </tb-orders> 
           </md-card-content>
         </md-card> 
      </md-grid-tile>
      
      <!-- Inventory -->
      <md-grid-tile colspan="3">
        <tb-inventory [menu]="menu$ | async">
        </tb-inventory>
      </md-grid-tile>

    </md-grid-list>

  </div>
</md-sidenav-layout>